matrix:
  include:
  - stage: Test
    language: node_js
    node_js: 8.5.0
    install: yarn
    script: npm install && npm test -- -u
  - stage: Deploy Android
    language: android
    jdk: oraclejdk8
    android:
      components:
        - tools
        - platform-tools
        - android-26
        - extra-google-m2repository
        - extra-google-google_play_services
    before_install:
      - nvm install 8.5.0
      - gem install bundler
      - bundle install
    before_script:
      - ./internals/scripts/travis/gitconfig.sh
    install: yarn
    script: npm run deployment:android